.wrapper {
  text-align: center;
  margin-top: 16px;
  height: 50vw;
  transition: font-size 0.3s;
}

.display-wrapper {
  line-height: 50vw;
}

.timer-main {
  font-size: 100%;
}

.timer-msec {
  font-size: 20%;
}

.edit-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr
}
